.container {
    font-size: 40px;
    width: 100%;
    background-color: LightGray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px
  }  
    
  .d1 {
    background-color: rgb(135, 206, 250);
  }
  
  .d2 {
    background-color: rgb(255, 160, 122);
  }
  
  .d3 {
    background-color: rgb(175, 238, 238);
  }
  
  .d4 {
    background-color: rgb(255, 182, 193);
  }
  
  .d5 {
    background-color: rgb(144, 238, 144);
    grid-column: 2 / 4;
    grid-row: 2 / 4;
  }